@import "CSS/global-config.css";
@import "CSS/highlightjs.css";
@import "CSS/header.css";
@import "CSS/right-side-nav.css";
@import "CSS/tags.css";
@import "CSS/share-button.css";
@import "CSS/article.css";
@import "CSS/bottom-navigator.css";
@import "CSS/post-collection.css";

.main {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 20px);
}

.main-content {
    border-radius: initial;
    box-sizing: border-box;
    width: calc(100% - 464px);
    min-height: calc(100vh - 76px);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 6%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

/* index-list */
.index-list {
    padding: 0px;
}

.tag-list {
    padding: 0;
}

.index-list ul.indexul {
    padding: 0px;
    margin: 0px;
}

.index-title a:hover {
    color: var(--item-title-hover-color);
}

.index-list li.indexli {
    background-color: var(--content-bg-color);
    margin-bottom: 12px;
    list-style: none;
    padding: 1px 20px 20px 20px;
    border-radius: 5px;
}


.index-list li article h2 {
    font-size: 24px;
}

.index-list li article h3 {
    font-size: 1.2em;
}

.index-list li article h4,
.index-list li article h5 {
    font-size: 1.0em;
}

.index-item-more {
    font-weight: bold;
    float: right;
    line-height: 1em;
    margin-top: 16px;
}

.index-item-more a:hover {
    color: var(--item-title-hover-color);
    border-bottom: initial;
}

.content {
    margin-bottom: 40px;
}

.content pre {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 这里必须加逗号 */
.content img,
video {
    display: block;
    margin: 10px auto;
    max-width: 90%
}

.content img {
    border-radius: 5px;
}

.content ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: disc;
}

.content li {
    line-height: 1.6em;
}

.content ol {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.6em;
    list-style: decimal;
}

.content ol li,
.content ul li {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 1.6em;
}

.content ol ul,
.content ol ol,
.content ul ol,
.content ul ul {
    margin-top: 10px;
    margin-left: 10px;
}

.index-bottom-bar {
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: var(--content-bg-color);
}

.index-bottom-bar a:hover {
    color: var(--item-title-hover-color);
    border-bottom: initial;
}

footer {
    color: var(--text-color);
    text-align: center;
    padding-top: 20px;
    height: 26px;
    margin-bottom: -26px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 10px;
}

footer p {
    margin: 5px;
    text-align: center;
}

.about .main-content {
    box-shadow: initial;
}

@media (min-width: 1200px) {
    .main {
        width: 1160px;
    }
}

@media (min-width: 1600px) {
    .main {
        width: 73%;
    }
}

@media (max-width: 1000px) {
    .main-content {
        width: calc(100vw - 230px);
    }
    .right-side-nav {
        display: none;
    }
}

@media (max-width: 600px) {
    .main-content {
        width: 100vw;
    }
    .right-side-nav, header {
        display: none;
    }
    .top-nav {
        display: block;
    }
    .main {
        margin: 60px 0 0 0;
        width: 100vw;
    }
}
